Hostname,Platform,Chassis,Version,Image ID,OS,Uptime,Last Reload,Last Reload Reason,Interfaces,Total Memory,Used Memeory,Serial Number,License Type
{{ to_parse_version.hostname }},{{ to_parse_version.platform }},{{ to_parse_version.chassis }},{{ to_parse_version.version }},{{ to_parse_version.image_id }},{{ to_parse_version.os }},{{ to_parse_version.uptime | replace(","," ") }},{{ to_parse_version.system_restarted_at | replace(","," ") }},{{ to_parse_version.last_reload_reason | replace(","," ") }},{{ to_parse_version.number_of_intfs | replace(","," ") | replace("{","") | replace("}","") }},{{ to_parse_version.main_mem }},{{ to_parse_version.mem_size | replace(","," ") | replace("{","") | replace("}","") }},{{ to_parse_version.chassis_sn }},{{ to_parse_version.license_type }}