"Αυτό αποστέλλεται από την πίτα A.T.S. Η συσκευή {{to_parse_version.hostname}}, μια {{to_parse_version.platform}}, είναι μια {{to_parse_version.chassis}} έκδοση {{to_parse_version.os}} έκδοση {{to_parse_version.version}} χρησιμοποιώντας εικόνα {{to_parse_version.image_id}}. Η συσκευή έχει λειτουργήσει για {{to_parse_version.uptime | replace(","," ")}} και πραγματοποιήθηκε τελευταία επανεκκίνηση στο {{to_parse_version.system_restarted_at | replace(","," ")}} επειδή {{to_parse_version.last_reload_reason | replace("\"","") | replace(","," ")}}. Έχει τις ακόλουθες διεπαφές {{to_parse_version.number_of_intfs | replace("{","") | replace("}","") | replace(","," ")}}. Από το σύνολο {{to_parse_version.main_mem}} {{to_parse_version.mem_size | replace("{","") | replace("}","") | replace(","," ")}}. Ο σειριακός αριθμός είναι {{ to_parse_version.chassis_sn }} με άδεια {{to_parse_version.license_type}}"