"Ceci est envoyé par pie A.T.S. L'appareil {{to_parse_version.hostname}}, un {{to_parse_version.platform}}, est un {{to_parse_version.chassis}} en cours d'exécution {{to_parse_version.os}} version {{to_parse_version.version}} utilisant l'image {{to_parse_version. image_id}}. L'appareil est en service depuis {{to_parse_version.uptime | replace (",", "")}} et a été redémarré pour la dernière fois le {{to_parse_version.system_restarted_at | replace (",", "")}} parce que {{to_parse_version.last_reload_reason | replace ("\" "," ") | replace (", "," ")}}. Il a les interfaces suivantes {{to_parse_version.number_of_intfs | replace (" {"," ") | replace ("} ", "") | replace (",", "")}}. Du total {{to_parse_version.main_mem}} {{to_parse_version.mem_size | replace ("{", "") | replace ("}", "" ) | replace (",", "")}} est utilisé. Le numéro de série est {{ to_parse_version.chassis_sn }} avec une licence {{to_parse_version.license_type}}"